.contact {
  display: flex;
  width: 80vw;
  height: 30vh;
  margin: 10px auto;
  border-radius: 20px;
  background-color: yellow;
}

.contact__logo {
  width: 50%;
  display: flex;
  margin: 0;
}

.contact__customer-area {
  width: 50%;
  height: 100%;
}
