/* Global */
:root {
  /* color */
  --color-red: #990001;
  --color-yellow: #edb518;
  --color-grey: rgb(58, 58, 58);
  --color-black: #000407;
  --color-white: #f5f7f7;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal Tags */
* {
  box-sizing: border-box;
}
